<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center py-6 sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r from-green-400 to-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <div class="relative px-6 py-10 bg-white shadow-lg sm:rounded-3xl sm:px-12 sm:p-20">
      <div class="max-w-md mx-auto">
        <div class="divide-y divide-gray-200">
          <div class="text-base leading-6 text-gray-700 sm:text-lg sm:leading-7">
            <h1 class="my-4 text-xl leading-loose text-center tracking-wide sm:text-3xl sm:my-6">Angular Tailwind.css starter</h1>
            <p class="py-4 sm:py-6">Perfect for learning how the framework works, prototyping a new idea or starting a new project.</p>
          </div>
          <div class="py-4 text-base leading-6 font-bold sm:text-lg sm:leading-7 sm:py-6">
            <p>Want to dig deeper into Tailwind?</p>
            <p>
              <a href="https://tailwindcss.com/docs" class="text-green-500 hover:text-green-700 sm:tracking-wide"> Read the docs &rarr; </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
