<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="flex h-screen w-full items-center">
        <div class="m-auto text-center">
            <h1 class="text-2xl text-teal-500"><%= title %></h1>
            <h2 class="text-xl text-grey-500">Welcome to <%= title %> with Tailwindcss</h2>
        </div>
    </div>
  </body>
</html>
