<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Tailwind</title>
	<link href="/static/dist/tailwind.css" rel="stylesheet">
</head>
<body>
	<div class="mt-40 text-center bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
	  <h1 class="font-bold">Tailwind with Go</h1>
	  <p class="text-sm">Setup golang with tailwind css using postcss</p>
	</div>
</body>
</html>