{% set seoTitle = 'Not Found' %}

{% extends "_layout" %}

{% block content %}

<div class="section-page section-error">
    <div class="container">
        <h2 class="h1 error-number">404</h2>
        <h3 class="error-title">{{ seoTitle | smartypants }}</h3>

        <div class="page-content">
            <p>The page you are looking for does not exist or has been moved. Please visit our <a href="/">Home page</a> or <a href="/contact">contact us</a> for more information.</p>

            {% if message is defined %}
                <div style="display: none;">{{ message }}</div>
            {% endif %}

            <a href="/" class="btn btn-primary">Return home</a>
        </div>
    </div>
</div>

{% endblock %}
