/*
 * Note: this is just a proof that @apply works in this project's set-up. To understand how CSS should be written in
 * a utility-first style, read https://adamwathan.me/css-utility-classes-and-separation-of-concerns/!
 */

.App-link {
    @apply text-blue-400;
}
.App-link:hover {
    @apply text-blue-200;
}
